/*去掉JFXTextArea和JFXTextField的下划线*/
.jfx-text-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}
.jfx-text-field > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 1px;
}
.jfx-text-area> .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}
.jfx-text-area > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 0px;
}
